<div class="page-header">
  <h1><%=t('titles.payments_history')%></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t('titles.user')%></th>
      <th><%=t('titles.transaction_id')%></th>
      <th><%=t('titles.expiration_date')%></th>
      <th><%=t('titles.amount')%></th>
      <th><%=t('titles.payment_method')%></th>
      <th><%=t('titles.created_date')%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @payments.each do |payment| %>
      <tr class="<%=payment.transaction_status == "approved" ? "success" : ""%>">
        <td><%= payment.user.full_name_or_company %></td>
        <td><%= payment.transaction_id %></td>
        <td><%= payment.expiration_date %></td>
        <td><%= payment.amount %> <%= payment.currency %></td>
        <td><%= payment.payment_method %></td>
        <td><%= payment.created_at %></td>
        <td><%= link_to t('titles.show'), payment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
